<!doctype html>
<html>
<head>
	<title> Welcome Home    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style_0.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style_1.css')}}">
</head>
<body class="bg">
<center>
    <div>
        <center>
        <h1>Hello there ☺ </h1>
    	<h1>Welcome to Student Information Viewer</h1>
        <button class="button button2" onclick="window.location.href='/add'">ADD</button>
        <button class="button button2" onclick="window.location.href='/delete'">DELETE</button>
        <button class="button button2" onclick="window.location.href='/update'">UPDATE</button>
        <button class="button button2" onclick="window.location.href='/search'">SEARCH</button>
        <button class="button button2" onclick="window.location.href='/list'">TABLES</button>
        <button class="button button2" onclick="window.location.href='/course_mangr'">Manage Courses</button>
        </center>
    </div>



</body>
</html>

